---
import TitanShowCase from "../components/TitansShowCase";
import Layout from "../layouts/Layout.astro";
import type { GetTitansResponse } from "../types";

const response = await fetch("https://api.attackontitanapi.com/titans?page=1");
const data = (await response.json()) as GetTitansResponse;
const titans = data.results;
---

<Layout title="Welcome to Astro.">
  <main
    class="p-20 flex flex-col gap-10 bg-gradient-to-r from-violet-100 to-fuchsia-100 relative min-h-screen"
  >
    <h1 class="text-center text-[3rem] font-mono">Titan Info</h1>
    <TitanShowCase client:only="react" titans={titans} />
  </main>
</Layout>
